# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
runs
/common/run/
/neoforge/run/
gradle/wrapper/gradle-wrapper.jar
